.navbard,
.navbar{
    background-color: rgb(21, 21, 21);
}
#sofa{
    background-image: url(Beautiful\ modern\ sofa\ furniture\ designs..jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#bla{
    background-color: rgb(21, 21, 21); 
}