body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s;
}

.navbar .logo {
    padding: 20px;
    text-align: center;
}

.navbar img {
    max-width: 100px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked + .navbar {
    transform: translateX(0);
}


@media screen and (max-width: 768px) {
    .navbar {
        transform: translateX(-100%);
    }

    #nav-toggle:checked + .navbar {
        transform: translateX(0);
    }
}